# -----------------------------------------------------------------------------
# GitLab
# -----------------------------------------------------------------------------

GITLAB_URL=https://gitlab.host
GITLAB_PROJECTS=https://gitlab.project1;https://gitlab.project2
GITLAB_TOKEN=glpat-here


# -----------------------------------------------------------------------------
# Ollama
# -----------------------------------------------------------------------------

OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=qwen3.8-flash-next:125b-a6b-q4_K_M


# -----------------------------------------------------------------------------
# OpenCode
# -----------------------------------------------------------------------------

OPENCODE_COMMAND=/path/to/bin/opencode
#OPENCODE_MODEL=kenevo/DeepSeek-V4-Flash-UD-Q4_K_XL:latest
OPENCODE_MODEL=ollama/qwen3.8-flash-next:125b-a6b-q4_K_M


# -----------------------------------------------------------------------------
# AI iteration limits
# -----------------------------------------------------------------------------

AI_MAX_AUTO_ITERATIONS_PER_DISCUSSION=2
AI_MAX_TOTAL_ITERATIONS_PER_DISCUSSION=10
AI_MAX_COMMITS_PER_MERGE_REQUEST=5


# -----------------------------------------------------------------------------
# State
# -----------------------------------------------------------------------------

STATE_FILE=data/state.json


# -----------------------------------------------------------------------------
# Runtime
# -----------------------------------------------------------------------------

DRY_RUN=false
TEST_COMMAND="/your-test-command-here.sh"
TEST_COMMAND_AFTER_RUN="/your-cleanup-command-here.sh"
OPENCODE_AUTO_APPROVE=true
AI_MAX_AUTO_ITERATIONS_PER_DISCUSSION=1
GITLAB_SSH_PORT=2222
